*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;    
    align-items: center;
    min-height: 100vh;/*come all items in center vertically*/
    background-color: #f4e4ba;
}

/*main container/ cover all body*/
.container{
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

/*form*/
form{
    margin: 2rem 0 1rem 0;
}
form input , select , button{ /*both are tags*/
    width: 100%;
    border: none;
    outline: none;
    border-radius: 1rem;
}
/*enter amount section*/
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 2rem;
    padding-left: 1rem;
}

/*dropdown lists*/
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

/*final message*/
.msg{
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 2.5rem;
    background-color: #af4d98;
    color: #ffffff;
    font-size: 1.15rem;
    cursor: pointer;
}